{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<div class="container">
    <h1>Главная страница</h1>
    <i>
    <p>Добро пожаловать!</p>
    <p>На этом сайте вы можете публиковать текстовые статьи, какого вам угодно содержания <br> (правда не такие уж и большие, но мы думаем в этом не будет такой уж большой проблемы для вас). <br> Интерфейс должен быть для вас интуитивно понятен, так что объяснять, как пользоваться нашем сайтом уверены нам вам не придется</p>
    <p>Спасибо вам за то, что посетили наш сайт. Нам очень приятно.</p>
    <p>P.S. Нам будет еще приятней, если вы добавите к нам на сайт собственную статью</p>
    <p>С уважением, создатели этого сайта</p>
    </i>
</div>

<div class="container">
    <h3>Будете регистрироваться или войдете?</h3><br>
    <a class="p-4 text-dark" href="/log"><button type="submit" class="btn btn-success">Вход</button></a>
    <a class="p-4 text-dark"href="/reg"><button type="submit" class="btn btn-success">Регистрация</button></a>
</div>
{% endblock %}