{% extends 'main/base.html' %}

{% block title %}
Вход
{% endblock %}

{% block body %}

<div class="container">
    <h1>Вход</h1>

    <form method="post">
        {% csrf_token %}
        <h4>Логин:</h4>
        {{ form.username }}<br>
        {% if form.errors %}
            <p>{{ form.errors.username }}</p>
        {% endif %}
        <h4>Пароль:</h4>
        {{ form.password }}<br>
        {% if form.errors %}
            <p>{{ form.errors.password }}</p>
        {% endif %}
        <input type="submit" class="btn btn-success" value="Вход">
    </form>
</div>

{% endblock %}